@{
    ViewBag.Title = "Home Page";
}

<style>
    .container {
        max-width: 100%;
        padding: 0;
        min-height: 100%;
    }

    p{        font-family: 'Poppins', sans-serif;

    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;

    }
</style>

<div id="backImage" class="container" style="background: url(http://www.wallpaperup.com/uploads/wallpapers/2014/01/09/220480/5b11822135ea72215335c441e8f91938.jpg) no-repeat center center scroll; background-size: cover; position: relative">
    <div class="row " id="mainTitle" style="margin-top: 30%; margin-left: 120px; color: white; position: absolute; bottom: 150px;">

        <h1>Discover the Cosmos</h1>
        <p class="lead">From a grain of sand to the vast galaxy, science uncovers secrets around you and me.</p>
        <p>
            <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"> @*Empty div for left side*@</div>
        <div class="col-sm-9">

            @* This is where the posts begin*@
            <br/>
            <h1>Recent Posts</h1>
            <div class="col-sm-10">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-sm-4">
                        <img src="http://www.end-your-sleep-deprivation.com/images/astronaut-steve-smith-thumbs-up-hubble.jpg" style="width: 100%; " />
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px">
                        <h3>Post Title</h3>
                        <h5>@*Date:*@ June 23, 2016 by <a href="#">@*User:*@Peter Parker</a></h5>
                        <p>@*Description: *@It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="margin-bottom: 20px">
                        <img src="https://pixabay.com/static/uploads/photo/2012/11/28/10/34/rocket-launch-67643_960_720.jpg" style="width: 100%;" />
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px">
                        <h3>Post Title</h3>
                        <h5>@*Date:*@ June 23, 2016 by <a href="#">@*User:*@Peter Parker</a></h5>
                        <p>@*Description: *@It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="margin-bottom: 20px">
                        <img src="http://sxh1b2g2g4f2w04gm2piih1u.wpengine.netdna-cdn.com/wp-content/uploads/2016/05/11.-Alien-1-696x464.jpg" style="width: 100%;" />
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 20px">
                        <h3>Post Title</h3>
                        <h5>@*Date:*@ June 23, 2016 by <a href="#">@*User:*@Peter Parker</a></h5>
                        <p>@*Description: *@It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <h3>Now Trending</h3>

                </div>
            </div>



        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">

    </div>
</div>
