@model ContactList.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    @using (Html.BeginForm("EditContact", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m=>m.ContactId)
        <p>
            <label>Name</label>
            @Html.TextBoxFor(m => m.Name)
        </p>
        <p>
            <label>Phone</label>
            @Html.TextBoxFor(m => m.PhoneNumber)
        </p>
        <button>Save</button>
    }
</div>
</body>
</html>
