
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
<div>
    <h2>Action Name</h2>

    <p>This page originated from</p>
    <ul>
        <li>Controller: @ViewBag.Controller</li>
        <li>Action: @ViewBag.Action</li>
    </ul>
</div>
</body>
</html>
