@model ViewOrganizationSample.Models.Player

<div>
    <h4>Player</h4>
    <hr/>
    <ul>
        <li>@Html.DisplayFor(m => m.Name)</li>
        <li>@Html.DisplayFor(m => m.Position)</li>
        <li>@Html.DisplayFor(m => m.Number)</li>
    </ul>
</div>