@{
    //ViewBag.Title = "Home Page";

}

<style>
    p {
        font-family: 'Poppins', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
</style>

<div id="backImage" class="container" style="background: url(http://www.wallpaperup.com/uploads/wallpapers/2014/01/09/220480/5b11822135ea72215335c441e8f91938.jpg) no-repeat center center scroll; background-size: cover; position: relative">
    <div class="row " id="mainTitle" style="margin-top: 30%; margin-left: 120px; color: white; position: absolute; bottom: 150px;">

        <h1>Discover the Cosmos</h1>
        <p class="lead">From a grain of sand to the vast galaxy, science uncovers secrets around you and me.</p>
        <p>
            <a href="/Blog/ViewAllPosts/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"> @*Empty div for left side*@</div>
        <div class="col-sm-9">

            @* This is where the posts begin*@
            <br />
            <h1>Recent Posts</h1>
            <div class="col-sm-9">
                <div ng-repeat="p in fourNewestPosts" class="row" style="margin-bottom: 20px">
                    <div class="col-sm-4">
                        <a href="~/Blog/ViewIndividualPost/{{p.PostID}}"><img src="{{p.PostImage}}" style="width: 100%; " /></a>
                    </div>
                    <div class="col-sm-5" style="margin-bottom: 20px">
                        <h3>{{p.Title}}</h3>
                        <h5>@*Date:*@ Date Posted: {{p.DateCreated | date : "MM/dd/y"}}</h5>
                        <p>@*Description: *@{{p.Description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="trendingNews">
                <div class="row">
                    <h3><i class="fa fa-line-chart"></i>Now Trending</h3>
                    <div id="trending"></div>
                </div>
            </div>



        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">

    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/app.js"></script>
}
