
@{
    ViewBag.Title = "Error404";
}

<div class="container">
    <div class="row">
        <div class="col-sm-1"> @* Empty div for left side *@</div>
        <div class="col-sm-9">

            @* This is where the post begins *@
            <br />
            <div class="col-sm-10" style="padding-right: 100px">
                <h1>404 Error</h1>
                <h4>You did something stupid!</h4>
                <img src="http://cdn.universalfreepress.com/wp-content/uploads/2015/09/STUPID-PEOPLE-STUPID-3okf15.jpg"/><br/><br/>
                <span>@Html.ActionLink("Return to Blog Posts", "ViewAllPosts", "Blog")</span><br />


            </div>

        </div>
    </div>
</div>

