
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This is my about me page!</p>

@section belowFooter
{
    <div>Here I am below the foooter!</div>
}

@section scripts
{
    <script>
        alert('Hello World!');
    </script>
}
