@model CosmosBlog.Models.StaticPage

@{
    ViewBag.Title = "AddStaticPageSuccess";
}

<div class="row">
    <div class="col-sm-1"> @*Empty div for left side*@</div>
    <div class="col-sm-11">
        <h3>Your page (@Model.PageTitle) has been successfully added.</h3>
    </div>
</div>