
@{
    ViewBag.Title = "DeletePageSuccess";
}

<div class="row">
    <div class="col-sm-1"> @*Empty div for left side*@</div>
    <div class="col-sm-11">
        <h3>Your page has been successfully deleted.</h3>
    </div>
</div>

