@model CosmosBlog.Models.Post

@{
    ViewBag.Title = "EditPostSuccess";
}

<div class="row">
    <div class="col-sm-1"> @*Empty div for left side*@</div>
    <div class="col-sm-11">
        <h3>Your page (@Model.Title) has been successfully edited.</h3>
    </div>
</div>

