@model CosmosBlog.Models.Post

@{
    ViewBag.Title = "PostStatusUpdateSuccess";
}

<div class="row">
    <div class="col-sm-1"> @*Empty div for left side*@</div>
    <div class="col-sm-11">
        <h3>The status for your page (@Model.Title) has been successfully updated.</h3>
    </div>
</div>
